<html>
    <style>
        body{
            font-size: 15pt;
            font-family: arial;
        }
    </style> 
    
    <a href = '/'>
        <button name = 'Home' type = 'submit' value = 'Home'>
            Home
        </button>
    </a>
    <br>
    
    {% if logged_in%}
        Hello {{username}}!
        <br>
        <a href = '/logout/'>
            <button name = 'Logout' type ='submit' value='logout'>
                Logout
            </button>
        </a>
    {%else%}
        <a href = '/login/'>
            <button name = 'login' type = 'submit' value ='login'>
                Login
            </button>
        </a>
    {%endif%}



    <body>
        <h1>
            {{name}}
        </h1>
        <h2>
            Score: {{score}}
        </h2>
        <h2>
            Reviews
        </h2>
        <table border = "1" cellpadding="10">
            <tr>
                <th>Restaurant Name</th>
                <th>Review</th>
                <th>Ratings</th>
                <th>Likes</th>
            </tr>
            {% for r in reviews %}
                <tr>
                    <td width ='10%'><a href = "/restaurants/{{r.rid}}/">{{ r.name }}</a></td>
                    <td width ='40%'>{{ r.text }}</td>
                    <td align = 'center' width ='10%'>{{ r.rating }}</td>
                    <td align = 'center' width = '10%'>{{ r.likes }}</td>
                </tr>
            {% endfor %}
        </table>
        {% if critic_has_fav %}
        <h4>
            Favourite Restaurant:  
        </h4>
        {% for f in favourite %}
        <a href = "/restaurants/{{f['rid']}}/">{{f['name']}} </a>
        <br>
        {% endfor %}
        {% endif %}
        
    </body>
</html>