<html>
    <head>
        <title>Give Review</title>
    </head>
    <a href = '/'>
        <button name = 'Home' type = 'submit' value = 'Home'>
            Home
        </button>
    </a>
    <br>
    <body>
        <h1>Enter Review</h1>
        <form action=" ", method="POST">
            <textarea name="text" rows='10' cols='50'> </textarea><br>
            Ratings: <input type="number" name="rating" min="1" max="5" step="1" value="1">
            <input class="btn btn-default" type="submit" value="Submit">
        </form>
    </body>
</html>