<html>
    <head>
        <title> Login Page</title>
    </head> 
    <a href = '/'>
        <button name = 'Home' type = 'submit' value = 'Home'>
            Home
        </button>
    </a>
    <br>
    <body>
        <h1>Enter Login Details</h1>
        <button name ='create' type = 'submit' value='create'>
            <a href = '/create_account/'>
                Create new account 
            </a>
        </button>
        <form action=" ", method="POST">
            <input type ="text" placeholder="Username" name="username">
            <input type ="password" placeholder="Password" name="password">
            <input class="btn btn-default" type="submit" value="Login">
        </form>
        {% if error %}
            <p> Username or Password is incorrect</p>
        {% endif %}
    </body>
</html>