<html>
    <style>
        body{
            font-size: 15pt;
            font-family:arial;
        }
    </style>
    
    <a href = '/'>
        <button name = 'Home' type = 'submit' value = 'Home'>
            Home
        </button>
    </a>
    <br>   
    {% if logged_in%}
        <a href = '/logout/'>
            <button name = 'Logout' type ='submit' value='logout'>
                Logout
            </button>
        </a>
    {%else%}
        <a href = '/login/'>
            <button name = 'login' type = 'submit' value ='login'>
                Login
            </button>
        </a>
    {%endif%}


    <body>
        <h1>
           Nearby Restaurants
        </h1>

        <div>
            <ol>
                {% for r in nearby %}
                <li>
                    <a href = "/restaurants/{{ r.rid }}/">{{ r.name }}</a>
                    <ul style = "font-size:12pt">
                        <p>
                        <li>Building:  {{ r.building }}</li>
                        <li>Capacity: {{ r.capacity }}</li> 
                        <li>City: {{ r.city }}</li>   
                        <li>State: {{ r.state }}</li>
                        <li>Zip: {{ r.zip }}</li>
                        <li>Distance (in Kms): {{ r.dis}}</li>
                        </p>    
                    </ul>
                </li>
                {% endfor %}
            </ol>
       </div>
    </body>
</html>