<html>
    <style>
        body{
            font-size: 15pt;
            font-family:arial;
        }
    </style>

    {% if logged_in%}
        <a href = '/logout/'>
            <button name = 'Logout' type ='submit' value='logout'>
                Logout
            </button>
        </a>
    {%else%}
        <a href = '/login/'>
            <button name = 'login' type = 'submit' value ='login'>
                Login
            </button>
        </a>
    {%endif%}


    <body>
        <h1>
            List of Restaurants
        </h1>

        <form method="POST" action="/">
            <p style="font-size:12pt">Restaurant Name: <input type="text" name="name" value ={{request.form.name}}> <input type="submit" name = "button" value="Search"></p>
            <p style ='font-size:12pt'><input type = "submit" name = "button" value = "Clear" ></p>
        </form>

        <div>
            <ol>
                {% for n in data%}
                <li>
                    <a href = "restaurants/{{n['rid']}}/">{{n['name']}}</a>
                    <ul style = "font-size:12pt">
                        <p>
                        <li>Health score: {{n['hyg_score']}}</li>
                        <li>Alcohol served: {{ n['alcohol']}}</li>    
                        <li>Average user rating: {{n['u_rating']}}/5</li>
                        <li>Average critic rating: {{n['c_rating']}}/5</li>
                        </p>    
                    </ul>
                </li>
                {% endfor %}
            </ol>
       </div>
    </body>
</html>