<html>
    <style>
        body{
            font-size: 15pt;
            font-family: arial;
        }
    </style>

    {% if logged_in%}
        <a href = '/logout'>
            <button name = 'Logout' type ='submit' value='logout'>
                Logout
            </button>
        </a>
    {%else%}
        <a href = '/login'>
            <button name = 'login' type = 'submit' value ='login'>
                Login
            </button>
        </a>
    {%endif%}

    <body>
        <h1>
            {{name}}
        </h1>

        <div>
            Locations
            <ol style='font-size: 10pt'>
                {% for location in locations%}
                    <li>
                        <ul>
                            <li>Capacity: {{location['capacity']}}</li>
                            <li>Building: {{location['building']}}</li>
                            <li>City: {{location['city']}}</li>
                            <li>State: {{location['state']}}</li>
                            <li>Zip:{{location['zip']}}</li>
                        </ul>
                        <p>
                            <a href ="nearby/{{location['lat']}}/{{location['long']}}">
                            Get Nearby restaurants
                            </a>
                        </p>                    
                    </li>
                {% endfor %}
            </ol>
        </div>

    </br>
        {%if user_critic_logged_in%}
            <a href = "/give_review/{{id}}">
                <button name = 'give_review' type = 'submit' value = "{{id}}">
                    Add review 
                </button>
            </a>
        {%endif%}
        <div>
            User Reviews
            <table border = '1' cellpadding='10' style='font-size:10pt'>
                <tr>
                    <th>Name</th>
                    <th>Review</th>
                    <th>Rating</th>
                    <th>Likes</th>
                    {% if user_critic_logged_in %}
                        <th>Like</th>
                    {% endif%}
                </tr>
                {% for review in normal_reviews%}
                <tr>
                    <td width='10%'>{{review['name']}}</td>
                    <td width='40%'>{{review['text']}}</td>
                    <td align = 'center' width='5%'>{{review['rating']}}</td>
                    <td align = 'center' width='5%'>{{review['likes']}}</td>
                    {% if user_critic_logged_in %}
                        <form method = "POST" action="">
                            <td align = 'center' width ='5%'>
                                <button name = 'normal_like' type = "submit" value = "{{review['revid']}}">
                                    Like
                                </button>
                            </td>
                        </form>
                    {% endif%}
                </tr>
                {% endfor %}
            </table>

        </div>
     
    </br>
        <div>
            Critic Reviews
            <table border = '1' cellpadding='10' style='font-size:10pt'>
                <tr>
                    <th>Name</th>
                    <th>Review</th>
                    <th>Rating</th>
                    <th>Likes</th>
                    {% if user_critic_logged_in %}
                        <th>Like</th>
                    {% endif %}
                </tr>
                {% for review in critic_reviews%}
                <tr>
                    <td width='10%'><a href = "/critics/{{review['userid']}}">{{review['name']}}</a></td>
                    <td width='40%'>{{review['text']}}</td>
                    <td align = 'center' width='5%'>{{review['rating']}}</td>
                    <td align = 'center' width='5%'>{{review['likes']}}</td>
                    {% if user_critic_logged_in %}
                        <form method ="POST" action = "">
                            <td align = 'center' width = '5%'>
                                <button name = 'critic_like' type ='submit' value="{{review['userid']}}-{{review['revid']}}">
                                    Like
                                </button>
                            </td>
                        </form>
                    {% endif%}
               </tr>
                {% endfor %}
            </table>

        </div>
     
    </br>
        <div>
            Menu Items
            <table border = '1' cellpadding='10' style='font-size:10pt'>
                <tr>
                    <th>Name</th>
                    <th>category</th>
                    <th>Cost</th>
                    <th>Description</th>
                    <th>Type</th>
                    {% if owner_logged%}
                        <th>Update</th>
                    {% endif %}
                </tr>
                {% for item in menu %}
                <tr>
                    <td width='10%'>{{item['name']}}</td>
                    <td width='10%'>{{item['category']}}</td>
                    <td align = 'center' width='5%'>{{item['cost']}}</td>
                    <td align = 'center' width='25%'>{{item['descr']}}</td>
                    {% if item['typ'] == '0' %}
                        <td align = 'center' width = '5%%'>Vegan</td>
                    {% elif item['typ'] == '1' %}
                        <td align = 'center' width = '5%'>Vegetarian</td>
                    {% else %}
                        <td align = 'center' width = '5%'>Non-vegetarian</td>
                    {% endif %}
                    {% if owner_logged %}
                        <form method ="POST" action = "update-{{item['name']}}">
                            <td align = 'center' width = '5%'>
                                <button name = 'update' type ='submit' value="update">
                                    Update
                                </button>
                            </td>
                       </form>
                    {% endif%}
                   </td>
                </tr>
                {% endfor %}
            </table>

            {%if owner_logged%}
                <form method = "POST" action = "add-{{id}}">
                    <button name = 'Add' type = 'submit' value ="add">
                        ADD
                    </button>
                </form>
            {%endif%}
        </div>
 
    </br>
        <div>
            Similar Restaurant
        <ol style='font-size: 10pt'>
            {% for restaurant in similar%}
                <li>
                    <a href = '/restaurants/{{restaurant[0]}}'>{{restaurant[1]}}</a>
                </li>
            {% endfor %}
            </ol>      
        </div>
               
    </body>
</html>